 @charset "UTF-8";

 /*
 
 Paleta de cores:
 Verde: #49a09d
 Lilas: #5f2cd82

 */


*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

/* Aviso importante!!!! sempre que for fazer um formulario deste tipo e quiser centralizar ele no meio, nem adianta jogar ele pra block e colocar margin auto q não dá certo, ao inves disso, adicione um position relative, que ai da pra configurar quantos por % o item vai ficar para a esquerda == 'left' e também para cima 'top'; Outra coisa importanto, se só isso não adiantar adicione um transform: translate(-50%, -50%) Para centralizar o item, não esqueça disso, isso vai ser util em projetos futuros...*/

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    width: 300px;
    height: 540px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 30px 30px 20px rgba(0, 0, 0, 0.493);
    transition: width 3s, height 3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login > div#imagem{
    display: block;
    background: #5f2c82 url(../projeto-login/imagens/login-banco.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: center center;
}

form > div.campo{
    background-color: #9409f09d;
    border: 2px solid #9409f09d;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

form > label{
    display: none;
}

div.campo > i{
    font-size: 2em;
    width: 40px;
    color: #5c0596;
   /* background-color:;  black; */
    padding: 5px;
}

div.campo > input{
    background-color: #ddbcf5cc;
    font-size: 1em;
    width: calc(100% - 45px); 
    height: 100%;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-12px);
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}



/* Atenção, importante pra karalho..., não esquecer de que quando configurar um input no css, no caso um botão do input tipo o submit que é pra entrar, não esquecer de que quando mencionar ele no css deve-se usar [] essa porra ai, e nunca () isso, se você usar () isso ao inves [] disso seu codigo vai falhar, como é bem confuso pois as duas se parecem é só lembrar que [] é a pra fazer listas no python, e isso () pra outras porras, enfim, só não esqueça disso, usa seus dois neuronios pra lembrar disso fechou? */

div.campo > input:focus-within{
    background-color: white;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-image: linear-gradient(to top, #9409f09d, #7c0ed69f);
    border-radius: 20px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: #7c0ed69f;
}

form > a.botao{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-image: linear-gradient(to top, #9409f09d, #7c0ed69f);
    border-radius: 20px;
    border: 2px solid black;
    color: black;
    cursor: pointer;
}

a.botao:hover{
    background-color: #7c0ed69f;
}

form > a.botao > i{
    font-size: 1.5em;
}